{% extends "layout.html" %}
{% block body %}

<h3 class="h3"> Welcome to Ipaid </h3>
<p>
    Nowaday,people often go to resturant,travel together.they pay for friends, sibiling and family members.and they need to remember these details.
that types of imformation is important for person but for mind it's one type of dust because the amount is tiny and need to consider to many person.<br>
example :-
    on weekend four friends(jay,nikunj,vinit(jay's brother),rohit) decided to one day picnic.<br>
    1. they met in one resturant. they got check of 860 rub. and it was paid by Jay.<br>
	2. after meals, they go to shop for buy some products for picnic(river rafting) and shop bill was paid by Nikunj amount was 1560 rub.<br>
	3. in shop Rohit bought alcohol for him and nikunj. price:- 650 rub<br>
	4. after river rafting they tried and decided to go baniya, baniya cost is paid by Vinit, amount 1400 (300*4 = 1200, 200 for slippers(rohit,jay))<br>
	5. at night they stay at flat and cost of flat was 1500 rub(1000 by rohit and 500 by Jay)<br>
	* condition<br>
	1. all events will counts.<br>
	2. person payment will not split.<br>
	3. Jay will not like to take money from his brother.vinit will not agreed to take any money from his brother.<br>
I hope, my site will help to solve this matter.
</p>


{% endblock%}